<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.belvi.baseauth_sinch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application>
        <activity
            android:name=".auth.SinchAuthActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
